@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

:root {
    --primary: #2563eb;
    --secondary: #7c3aed;
    --dark: #0f172a;
    --light: #f8fafc;
}

body {
    font-family: 'Inter', sans-serif;
}